body {
    font-family: "Roboto", sans-serif;

    color: white;
    text-align: center;
    background: black;
}

header{
    text-align: center;

}

img{
    max-width: 20%;
    border-color: red;
}

h1 {
    color: #A800F0;
    font-size: 50px;
    font-weight: 700;
}

h2 {
    color: #BC08EE;

}

li{
    list-style-position: inside;
    color: #FC80DB;
}

ul{
    text-align: center;

}


.background{
    background-image: url("/images/image_ronaldo_célération (1).jpg");
    background-size: cover;
    background-attachment: fixed;

}

a:hover {
    text-decoration: deeppink;
}

.titre {

}



